body {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* barra de navegacion */
.navbar {
  z-index: 1;
  width: 100%;
}

section {
  margin-top: 100px;
}

.contenedor {
  padding: 10px;
  display: flex;
  width: 500px;
}

.posicion-icons {
  margin-left: 50px;
}
